.intro-container {
    color: var(--main-text-color);
    margin: 50px;
    width: 30rem;
    margin-top: 170px;
}

.intro-container h2 {
    font-size: 36px;
    font-weight: 800;
}

.intro-container h2,
.intro-container p {
    margin-bottom: 50px;
}

.btn-container button {
    height: 60px;
    width: 150px;
    color: var(--main-text-color);
    background-color: var(--main-btn-bg-color);
    margin-right: 50px;
    border: 3px solid var(--main-border-color);
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s all ease;
    font-weight: 800;
}
.btn-container button:hover {
    scale: 1.05;
}

/* Media query for devices with width 768px and above */
@media (max-width: 768px) {
    .intro-container {
        width: 80%;
        margin: auto;
        margin-top: 10vh;
    }

    .intro-container {
        text-align: justify;
    }

    .btn-container button {
        width: 100%;
        margin-bottom: 3rem;
        margin-right: 0;
    }
}
